@import "../../../assets/css/colors.scss";

.posts-list-page {
    width: 1024px;
    margin: 0 auto;
    padding-top: 70px;

    display: flex;
    flex-direction: column;

    .table-header {
        margin-top: 20px;
        border: 1px solid $color-divider;
        display: flex;
        span {
            padding: 20px;
            width: 300px;
        }
    }
}