@import "../../../assets/css/colors.scss";

.new-tag-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10000 auto;
    padding-top: 70px;
}